In [2]:
import pandas as pd
import numpy as np

In [61]:
cars_data=pd.read_csv("D:\Toyota.csv" ,index_col=0,na_values=["?","???",'????',])

 <div style="color: red;">CHECKING DATA TYPES OF EACH CPLUMNS.</div>

In [62]:
cars_data.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP           float64
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

                          
<div style="color: red;"> CONCISE SUMMARY OF DATA FRAME</div>

In [63]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 123.4+ KB


<div style="color: red;">UNIQUE ELEMENT OF COLUMNS .</div>

In [64]:
print(np.unique(cars_data['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

<div style="color: blue;">KM Has special character to it as ??  Hence it has been read as object instead of int64 </div>

In [65]:
print(np.unique(cars_data['HP']))

[ 69.  71.  72.  73.  86.  90.  97.  98. 107. 110. 116. 192.  nan]

<div style="color: blue;">'HP' has been read as float</div>

In [12]:
print(np.unique(cars_data['MetColor']))

[ 0.  1. nan]

<div style="color: blue;">'MetColor' have been read as flot64 since it has values 0. & 1. </div>

In [13]:
print(np.unique(cars_data['Automatic']))

[0 1]

<div style="color: blue;">'Automatic' have been read as int64 since it has values 0 & 1 </div>

In [15]:
print(np.unique(cars_data['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']

<div style="color: blue;">'Doors' have been read as Object instead of int64 because of values 'five','four','three'.</div>

<div style="color: red;">CONVERTING VARIABLE'S DATA TYPES: </div>
<div style="color: red;">Converting 'MetColor' , Automatic to object data type </div>

In [19]:
cars_data['MetColor'] = cars_data['MetColor'].astype('object')
cars_data['Automatic'] = cars_data['Automatic'].astype('object')

<div style="color: red;">Rechecking the data type of variables </div>

In [66]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 123.4+ KB

<div style="color: red;">Cleaning column 'Doors' .</div>

In [67]:
cars_data['Doors'].replace('three', 3, inplace=True)
cars_data['Doors'].replace('four', 4, inplace=True)
cars_data['Doors'].replace('five', 5, inplace=True)

<div style="color: red;">Converting  'Doors' to int64 .</div>

In [68]:
cars_data['Doors'] = cars_data['Doors'].astype('int64')

<div style="color: red;">DETECT MISSING VALUES.</div>

In [69]:
cars_data.isnull().sum()

Price          0
Age          100
KM             0
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64


<div style="color: red;">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>     DEALING WITH MISSING VALUES </div>

<div style="color: red;">Creating copy of original data</div>

In [70]:
cars_data2 = cars_data.copy()

<div style="color: red;">subsetting the rows that have one or more missing values </div>

In [71]:
missing = cars_data2[cars_data2.isnull().any(axis=1)]

In [72]:
print(missing)

      Price   Age     KM FuelType    HP  MetColor  Automatic    CC  Doors  \
2     13950  24.0  41711   Diesel  90.0       NaN          0  2000      3
6     16900  27.0     ??   Diesel   NaN       NaN          0  2000      3
7     18600  30.0  75889      NaN  90.0       1.0          0  2000      3
9     12950  23.0  71138   Diesel   NaN       NaN          0  1900      3
15    22000  28.0  18739   Petrol   NaN       0.0          0  1800      3
...     ...   ...    ...      ...   ...       ...        ...   ...    ...
1427   8950   NaN  29000   Petrol  86.0       1.0          1  1300      3
1428   8450  72.0     ??   Petrol  86.0       NaN          0  1300      3
1431   7500   NaN  20544   Petrol  86.0       1.0          0  1300      3
1433   8500   NaN  17016   Petrol  86.0       0.0          0  1300      3
1434   7250  70.0     ??      NaN  86.0       1.0          0  1300      3

      Weight
2       1165
6       1245
7       1245
9       1105
15      1185
...      ...
1427    1045
1428    1015
1431    1025
1433    1015
1434    1015

[328 rows x 10 columns]

In [80]:
cars_data2['KM'] = cars_data2['KM'].replace('??', np.nan)

<div style="color: red;">>>>>>>>>>>>>>>>>>>>>>>>>>>>IMPUTING MISSING VALUES  .</div>

<div style="color: red;">STATISTICAL SUMMARY OF DATA.</div>

In [81]:
cars_data2.describe()

,Price,Age,HP,MetColor,Automatic,CC,Doors,Weight
count,1436.000000,1436.000000,1436.000000,1286.000000,1436.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.672156,101.513928,0.674961,0.055710,1566.827994,4.033426,1072.45961
std,3626.964585,17.930380,14.747603,0.468572,0.229441,187.182436,0.952677,52.64112
min,4350.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,2.000000,1000.00000
25%,8450.000000,44.000000,90.000000,0.000000,0.000000,1400.000000,3.000000,1040.00000
50%,9900.000000,59.000000,110.000000,1.000000,0.000000,1600.000000,4.000000,1070.00000
75%,11950.000000,68.000000,110.000000,1.000000,0.000000,1600.000000,5.000000,1085.00000
max,32500.000000,80.000000,192.000000,1.000000,1.000000,2000.000000,5.000000,1615.00000

<div style="color: red;">
    Imputing missing value of the 
    <span style="color: green;">Age</span> variable.
</div>

In [82]:
cars_data2['Age'].fillna(cars_data2['Age'].mean(), inplace=True)

<div style="color: red;">
    Imputing missing value of the 
    <span style="color: green;">KM</span> variable.
</div>

In [83]:
cars_data2['KM'].fillna(cars_data2['KM'].median(), inplace=True)

<div style="color: red;">
    Imputing missing value of the 
    <span style="color: green;">HP</span> variable.
</div>

In [84]:
cars_data2['HP'].fillna(cars_data2['HP'].mean(), inplace=True)

In [85]:
cars_data2.isnull().sum()

Price          0
Age            0
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

<div style="color: red;">
    Imputing missing value of the 
    <span style="color: green;">FuelType</span> variable.
</div>

In [88]:
cars_data2['FuelType'].fillna(cars_data2['FuelType'].value_counts().index[0],inplace= True)

<div style="color: red;">
    Imputing missing value of the 
    <span style="color: green;">MetColor</span> variable.
</div>

In [89]:
cars_data2['MetColor'].fillna(cars_data2['MetColor'].mode()[0],inplace= True)


<div style="color: green;">
    END RESULT:: 
    <span style="color: red;">Checking for missing values </span>
</div>

In [90]:
cars_data2.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64